# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

obj/*
bin/*
*.depend
*.layout
*.dll
*.exe
*.e8s.cd
*.mak

cbp2make.cfg
*gmon.out
obj/*
*.e8s.cd
bin/*
lib/*
*.depend
*.cbTemp
*.layout
Scripts/test.zip
e8script.cfg
Scripts/none.e8s
*.mak
syntax: regexp
Makefile$
Makefile~$
e8core/test/runval.sh
e8core/test/Scripts/*

