1 VERSIONINFO
FILEVERSION     0,3,1,1
PRODUCTVERSION  0,3,1,1
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "041904E3"
    BEGIN
      VALUE "CompanyName", "dmpas.ru"
      VALUE "FileDescription", "E8 Script Unicode library"
      VALUE "FileVersion", "0.3.1.1"
      VALUE "InternalName", "e8std"
      VALUE "LegalCopyright", "dmpas.ru"
      VALUE "OriginalFilename", "e8core-utf.dll"
      VALUE "ProductName", "E8 Script Tools"
      VALUE "ProductVersion", "0.3"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x419, 1251
  END
END